# Dependency directories
node_modules/

# Build outputs
dist/

# Testing artifacts
playwright-report/
test-results/

# Environment variables
.env
.env.*
#exclude example env files from being ignored
!.env.example
!.env.example.*
!.env.*.example

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# Editor directories and files
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Compiled JavaScript
*.js.map
*.min.js